.container{
  background-color: #eaeeee;
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  box-shadow: 0 0 5px rgba(25, 25, 25, 0.9) !important;
  z-index: 7;
  overflow-scrolling: touch;
}

.title-div{
  display: flex;
  gap: 10px;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  font-size: 26px;
  padding: 10px;
}

label{
  font-weight: 500;
  margin-bottom: 5px;
}

.controls{
  width: 100%;
  background-color: transparent;
}

.control-div{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

input{
  background-color: #f1fcfc;
  border: 0.1px solid gray;
}

input:focus{
  outline: none;
  box-shadow: 0 0 2px gray !important;
  border: 0.1px solid gray;
}

input:hover{
  box-shadow: 0 0 2px rgba(0, 0, 255, 2) !important;
  border: 0.1px solid blue;
}

label, input[type='text'], small{
  display: block;
  width: 100%;
  padding: 5px;
}

.search-list{
  display: none;
  background: white;
  border: 1px solid lightgray;
  max-height: 100px;
  overflow-y: auto;
  position: absolute;
  transition: 1s linear;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.delete-div input[type='text']:focus ~ .search-list,
.search-list:hover{
  display: block;
}

.search-list a {
  display: block;
  background-color: lightgray;
  border: 0.1px solid gray;
  opacity: 0.6;
  width: 100%;
  padding: 2px 5px;
  cursor: pointer;
}

.search-list a:hover {
  background-color: white;
  box-shadow: 0 0 2px gray !important;
  border: 1px solid black;
}

.btn-success, .btn-danger{
  display: block;
  margin: 20px auto;
  width: 80%;
  cursor: pointer;
}

.alert-danger{
  margin-left: 5%;
  width: 90%;
}

@media (max-height: 630px) {
  .controls{
    height: 200px;
  }

  .container{
    height: auto;
    max-height: 100%;
    overflow-y: scroll;
  }
}

@media (max-width: 700px) {
  .title-div{
    font-size: 20px;
    align-items: center;
  }

  .title-div .btn{
    font-size: 12px;
    padding: 5px 10px;
  }
}
